
/* Search Engine */
.search-container1 {
    
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
  
  .search-input1 {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Sol taraftaki köşeler yuvarlak */
    outline: none;
    width: 750px; /* Giriş alanının genişliği */
  }
  
  .search-button1 {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0; /* Sağ taraftaki köşeler yuvarlak */
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }